<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
  </style>
</head>
<body>
  <div class="boss">
    1王
    <br>
    血量:{{.first.boss_value}}
    <br>
    周目：{{.first.boss_syume}}
  </div>
  <div class="boss">
    2王
    <br>
    血量:{{.second.boss_value}}
    <br>
    周目：{{.second.boss_syume}}
  </div>
  <div class="boss">
    3王
    <br>
    血量:{{.third.boss_value}}
    <br>
    周目：{{.third.boss_syume}}
  </div>
  <div class="boss">
    4王
    <br>
    血量:{{.fourth.boss_value}}
    <br>
    周目：{{.fourth.boss_syume}}
  </div>
  <div class="boss">
    5王
    <br>
    血量:{{.fifth.boss_value}}
    <br>
    周目：{{.fifth.boss_syume}}
  </div>
  <div>
    <form action="/index/attack" method="post">
      以下为报刀，普通成员、管理员均可用
      <br>
      攻击目标：<select name="bossid">
      <option value="1">1王</option>
      <option value="2">2王</option>
      <option value="3">3王</option>
      <option value="4">4王</option>
      <option value="5">5王</option>
    </select>
      <br>
      造成伤害：<input type="text" name="atkval" placeholder="输入伤害">
      <br>
      <input type="submit" value="攻击！">
    </form>
  </div>
  <div>
    <form action="/index/correction" method="post">
      以下为调整boss状态，仅管理员可用
      <br>
      调整目标：<select name="bossid">
      <option value="1">1王</option>
      <option value="2">2王</option>
      <option value="3">3王</option>
      <option value="4">4王</option>
      <option value="5">5王</option>
    </select>
      <br>
      调整后周目：<input type="text" name="bosssyume" size="10" placeholder="输入一个正整数">
      <br>
      调整后血量：<input type="text" name="bossvalue" placeholder="输入血量">
      <br>
      <input type="submit" value="调整！">
    </form>
  </div>
</body>
</html>