<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出刀记录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/statics/image/1.ico" rel="shortcut icon">
    <script src="/views/record.js"></script>
    <link rel="stylesheet" href="/views/record.css" />

</head>
<body>
    <div class="header">
        <h1>出刀记录</h1>
        <p>虽然生活很辛苦，但刀还是要出的（笑）</p>
    </div>

    <div class="topnav">
        <a href="/index">返回首页</a>
    </div>
    <div class="column">
        <p style="text-align: center"><b>只展示最新的20条数据，更多数据请到数据库查看</b></p>
        <table id="tfhover" class="tftable" border="1">
            <tr><th>记录ID</th><th>用户名</th><th>对象</th><th>造成伤害</th><th>时间</th></tr>
            <tr><td>{{.one.id}}</td><td>{{.one.username}}</td><td>{{.one.target}}</td><td>{{.one.attackvalue}}</td><td>{{.one.time}}</td></tr>
            <tr><td>{{.two.id}}</td><td>{{.two.username}}</td><td>{{.two.target}}</td><td>{{.two.attackvalue}}</td><td>{{.two.time}}</td></tr>
            <tr><td>{{.three.id}}</td><td>{{.three.username}}</td><td>{{.three.target}}</td><td>{{.three.attackvalue}}</td><td>{{.three.time}}</td></tr>
            <tr><td>{{.four.id}}</td><td>{{.four.username}}</td><td>{{.four.target}}</td><td>{{.four.attackvalue}}</td><td>{{.four.time}}</td></tr>
            <tr><td>{{.five.id}}</td><td>{{.five.username}}</td><td>{{.five.target}}</td><td>{{.five.attackvalue}}</td><td>{{.five.time}}</td></tr>
            <tr><td>{{.six.id}}</td><td>{{.six.username}}</td><td>{{.six.target}}</td><td>{{.six.attackvalue}}</td><td>{{.six.time}}</td></tr>
            <tr><td>{{.seven.id}}</td><td>{{.seven.username}}</td><td>{{.seven.target}}</td><td>{{.seven.attackvalue}}</td><td>{{.seven.time}}</td></tr>
            <tr><td>{{.eight.id}}</td><td>{{.eight.username}}</td><td>{{.eight.target}}</td><td>{{.eight.attackvalue}}</td><td>{{.eight.time}}</td></tr>
            <tr><td>{{.nine.id}}</td><td>{{.nine.username}}</td><td>{{.nine.target}}</td><td>{{.nine.attackvalue}}</td><td>{{.nine.time}}</td></tr>
            <tr><td>{{.ten.id}}</td><td>{{.ten.username}}</td><td>{{.ten.target}}</td><td>{{.ten.attackvalue}}</td><td>{{.ten.time}}</td></tr>
            <tr><td>{{.eleven.id}}</td><td>{{.eleven.username}}</td><td>{{.eleven.target}}</td><td>{{.eleven.attackvalue}}</td><td>{{.eleven.time}}</td></tr>
            <tr><td>{{.twelve.id}}</td><td>{{.twelve.username}}</td><td>{{.twelve.target}}</td><td>{{.twelve.attackvalue}}</td><td>{{.twelve.time}}</td></tr>
            <tr><td>{{.thirteen.id}}</td><td>{{.thirteen.username}}</td><td>{{.thirteen.target}}</td><td>{{.thirteen.attackvalue}}</td><td>{{.thirteen.time}}</td></tr>
            <tr><td>{{.fourteen.id}}</td><td>{{.fourteen.username}}</td><td>{{.fourteen.target}}</td><td>{{.fourteen.attackvalue}}</td><td>{{.fourteen.time}}</td></tr>
            <tr><td>{{.fifteen.id}}</td><td>{{.fifteen.username}}</td><td>{{.fifteen.target}}</td><td>{{.fifteen.attackvalue}}</td><td>{{.fifteen.time}}</td></tr>
            <tr><td>{{.sixteen.id}}</td><td>{{.sixteen.username}}</td><td>{{.sixteen.target}}</td><td>{{.sixteen.attackvalue}}</td><td>{{.sixteen.time}}</td></tr>
            <tr><td>{{.seventeen.id}}</td><td>{{.seventeen.username}}</td><td>{{.seventeen.target}}</td><td>{{.seventeen.attackvalue}}</td><td>{{.seventeen.time}}</td></tr>
            <tr><td>{{.eighteen.id}}</td><td>{{.eighteen.username}}</td><td>{{.eighteen.target}}</td><td>{{.eighteen.attackvalue}}</td><td>{{.eighteen.time}}</td></tr>
            <tr><td>{{.nineteen.id}}</td><td>{{.nineteen.username}}</td><td>{{.nineteen.target}}</td><td>{{.nineteen.attackvalue}}</td><td>{{.nineteen.time}}</td></tr>
            <tr><td>{{.twenty.id}}</td><td>{{.twenty.username}}</td><td>{{.twenty.target}}</td><td>{{.twenty.attackvalue}}</td><td>{{.twenty.time}}</td></tr>
        </table>
    </div>
</body>
</html>

