<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/statics/image/1.ico" rel="shortcut icon">
  <title>注册</title>
  <script src="/views/register.js"></script>
  <link rel="stylesheet" href="/views/register.css" />

</head>

<body>
<!--<form action="/register" method="post" id="register">-->
  <div class="form">
    <p>用户名<br />
      <input id="username" type="text" class="textinput" placeholder="请输入用户名" value="" />
    </p>
    <p>密码<br />
      <input id="password" type="password" class="textinput" placeholder="请输入密码" value="" />
    </p>
    <p>
      <button onclick="Register()">注册</button>
<!--</form>-->
  </div>
</body>

</html>
